<br>
<h1>List of Employees</h1>
<br>

<div class="media">
 <div class="media-body">
 
<table class="table table-hover" style= "border: 2px solid rgba(0, 0, 0, 0.25);; border-spacing: 1px; padding: 5px;" >
<thead style= "border: 2px solid rgba(0, 0, 0, 0.25);" >
  
  <th style= "border: 2px solid rgba(0, 0, 0, 0.25);" >Name</th>
  <th style= "border: 2px solid rgba(0, 0, 0, 0.25);" >Age</th>
  <th style= "border: 2px solid rgba(0, 0, 0, 0.25);" >Gender</th>
  <th style= "border: 2px solid rgba(0, 0, 0, 0.25);" >Designation</th>
  <th style= "border: 2px solid rgba(0, 0, 0, 0.25);" >Action</th>
  <th style= "border: 2px solid rgba(0, 0, 0, 0.25);" >Action</th>
 
</thead>
<tbody style= "border: 2px solid rgba(0, 0, 0, 0.25);;" >
  <% @employee.each do |f| %>
  
		<tr style= "border: 2px solid rgba(0, 0, 0, 0.25);" >
		<td style= "border: 2px solid rgba(0, 0, 0, 0.25);" ><%= f.name %> </td>
		<td style= "border: 2px solid rgba(0, 0, 0, 0.25);" ><%= f.age %> </td>
		<td style= "border: 2px solid rgba(0, 0, 0, 0.25);" ><%= f.gender %></td>
		<td style= "border: 2px solid rgba(0, 0, 0, 0.25);" ><%= f.designation %></td>
		<td style= "border: 2px solid rgba(0, 0, 0, 0.25);" ><%= link_to "Edit", edit_employee_path(f.id), class: 'btn  btn-lg btn-success' %></td>
		<td style= "border: 2px solid rgba(0, 0, 0, 0.25);" ><%= link_to "Delete", employee_path(f.id),method: :delete , class: 'btn btn-lg btn-danger', :data => {:confirm => 'Are you sure to Delete the Employee Detail??'} %></td>
		</tr>
	<% end %>
</tbody>
</table>
</div>
</div>	